.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-header {
  background-color: #83878f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Participants {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Participant {
  flex-grow: 1;
  display: inline-flex;
  justify-content: center;
  /*display: inline-block;*/
}


.Timer {
  min-height: 50vh;
  justify-content: center;
}


